.famousItem {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

.famousItem:hover {
    background-color: var(--bg-trend-hover);
    cursor: pointer;
}

.famousItem__avatar {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 1px #000;
    overflow: hidden;
}

.famousItem__avatar > img {
    width: 100%;
}

.famousItem__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.famousItem__info {
    padding-left: 14px;
    
}

.famousItem__info > .famousItem__name {
    font-size: 15px;
    color: var(--twitter-text);
    font-weight: 700;
}

.famousItem__name {
    display: flex;
    align-items: center;
}

.famousItem__name > .famousItem__badge {
    color: var(--twitter-color);
    font-size: 15px !important;
    margin-left: 2px;
}


.famousItem__tagname {
    font-size: 15px;
    color: var(--twitter-tagbox-text);
    font-weight: 400;
}

.famousItem__follow {
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: 16px !important;
    padding: 8px 16px !important;
    color: #fff !important;
    background-color: #000 !important;
    border-radius: 30px !important;
}