body {
    --twitter-color: #1d9bf0;
    --twitter-blur: #e8f5fd;
    --twitter-bg: #8ecdf8;
    --twitter-background: #fff;
    --twitter-sidebar-option: #e7e7e8;
    --twitter-boder: #eff3f4;
    --twitter-text: #0f1419;
    --twitter-tag-text: #5d6d79;
    --twitter-tagbox-text: #536471;
    --post-hover: #f7f9f9;
    --bg-trend: #f7f9f9;
    --bg-trend-hover: #eff1f1;
    --bg-input: #eff3f4;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}